
<div id="title"><p>Trainerin</p></div>
<p>&nbsp;</p>
<table width="790" id="table2" border="0" align="center" cellpadding="5" cellspacing="6">

<tr>
<td valign="top"><p><strong>Martina Hayward</strong> tanzte sich im Alter von 17 Jahren als Norddeutscher Meister der A-Klasse
    auf Anhieb in das Finale von Blackpool, einem hochrangigen Tanzturnier. </p>
<p>&nbsp;</p>
    <p>Mit 22 Jahren beschloss sie dann mit dem  Leistungssport aufzuhören, neugierig studierte
    sie Geschichte und Russisch. </p>
    <p>&nbsp;</p>
    <p>Später wechselte sie zu Diplompädagogik mit dem Schwerpunkt Pädagogische Psychologie an der
    Universität Hamburg. Theaterarbeit, Atemtechnik und der  bewusste Umgang mit Körpersprache
    prägen ihre Arbeit. Martina ist ausgebildete  Farb-, Image- und Stilberaterin. </p>
    <p>&nbsp;</p>
    <p><strong>&quot;Seit über 20 Jahren arbeite ich als Tanzlehrerin. In den  letzten Jahren habe
    ich mich auf die Tänze West Coast Swing und Discofox  spezialisiert. Da ich selbst bis in die
    höchste deutsche Turnierklasse  (S-Klasse) getanzt habe, weiß ich, wie viel Zeit Turnierpaare
    in das Tanzen investieren. </strong></p>
    <p>&nbsp;</p>
    <p><strong>Da aber Zeit unser kostbarstes Gut ist, habe ich ein Konzept  entwickelt, hochklassiges
    Tanzen in kürzerer Zeit zu vermitteln. Wirklich  effektiv ist dies fast nur über Privatunterricht
    möglich aber auch in meinen  Tanzkursen erreiche ich erstaunliche Ergebnisse und andere Trainer
    sind immer  wieder überrascht, mit welcher Geschwindigkeit sich meine Paare entwickeln.&quot;</em></strong></p>
    <p>&nbsp;</p></td>
<td width="256" valign="top"><p><img src="pics/martina_hayward2.jpg" alt="Martina Hayward" width="250" height="364" /></p></td>
</tr>

<tr>
<td></td>
<td></td>
</tr>
</table>


<p>&nbsp;</p>
</div>
