
<div id="title"><p>West Coast Swing</p></div>
<p>&nbsp;</p>
<table width="790" border="0" align="center" cellpadding="5" cellspacing="6">

<tr>
    <td><p>Noch vor ein paar Jahren wusste kaum jemand, was mit diesem  Tanz gemeint ist.
    Nun setzt er sich mehr und mehr auch in Europa durch. In  England und Frankreich
    gibt es mittlerweile eine sehr große West Coast Swing  Szene. In Deutschland ist
    dieser Tanz immer noch ein Geheimtipp, aber wahrscheinlich bald schon, <strong>der Tanz der Zukunft</strong>.</p>
<p>&nbsp;</p>
    <p>Der West Coast Swing hat etwas von Discofox,  Blues, Salsa und ist doch ganz anders,
    mit zwei Worten – <strong>natürlich und cool</strong>.  Wir bieten <strong>5 x pro Woche</strong> die Möglichkeit,
    diesen Tanz zu erlernen und es lohnt  sich.</p>
    <p>&nbsp;</p>
    <p><strong>Die Tanzkurse für West Coast Swing kosten 75 € pro Person und laufen  jeweils über 6 Wochen.</strong></p>
    <p>Für Paare, die längerfristig  tanzen wollen und Schüler / Studenten, gibt es einen attraktiven Clubbeitrag.</p>
    <p>&nbsp;</p>
    <p>Zur Anmeldung und für weitere Informationen zum jeweiligen Veranstaltungsort, melden Sie sich bitte bei:</p>
    <p><strong>Martina Hayward </strong>per<strong> <a href="mailto:martina.hayward@web.de">E-Mail</a></strong>, unter <strong class="style2">0176 / 81 81 42 20</strong> oder, zunächst unverbindlich, über das <a href="kontakt.html"><strong>Anmeldeformular</strong></a> an. Sie erhalten dann alle Informationen zum jeweiligen Kurs.</p></td>
</tr>
<tr>
<td></td>
</tr>
</table>


<p>&nbsp;</p>
<table width="790" border="0" align="center" cellpadding="5" cellspacing="6">
<tr>
  <td width="170" valign="top"><span class="style2"><strong>Beginner (Anfänger):</strong></span></td>
  <td width="170" valign="top"><strong>Montags:</strong></td>
  <td valign="top"><p>20.00 - 21.00  Uhr</p></td>
</tr>
</table>
<p>&nbsp;</p>
<table width="790" border="0" align="center" cellpadding="5" cellspacing="6">
<tr>
<td width="170" valign="top"><span class="style2"><strong>Intermediate (Mittelstufe):</strong></span></td>
<td width="170" valign="top"><strong>Mittwochs:</strong></td>
<td valign="top"><p>19.00 - 20.00 Uhr</p>
  <p>Veranstaltungsort:  Wandsbek</p></td>
</tr>
</table>
<p>&nbsp;</p>
<table width="790" border="0" align="center" cellpadding="5" cellspacing="6">
<tr>
<td width="170" valign="top"><span class="style2"><strong>Übungszeit:</strong></span></td>
<td width="170" valign="top"><strong>Mittwochs:</strong></td>
<td valign="top"><p>20.00 - 21.00 Uhr</p>
  <p>Veranstaltungsort:  Wandsbek</p></td>
</tr>
</table>
<p>&nbsp;</p>
<table width="790" border="0" align="center" cellpadding="5" cellspacing="6">
<tr>
<td width="170" valign="top"><p class="style2"><strong>Monatlicher Workshop:</strong></p>
  <p class="style2">(Termine &amp; Themen: </p>
  <p class="style2">siehe <a href="workshops.html">Workshops</a><strong>)</strong></p></td>
<td width="170" valign="top"><strong>Montags:</strong></td>
<td valign="top"><p>21.00 - 22.30 Uhr</p></td>
</tr>
</table>
<p>&nbsp;</p>
<table width="790" border="0" align="center" cellpadding="5" cellspacing="6">
<tr>
<td width="170" valign="top"><span class="style2"><strong>Advanced (Fortgeschritten):</strong></span></td>
<td width="170" valign="top"><strong>Dienstags:</strong></td>
<td valign="top"><p>20.00 - 21.30 Uhr (durchgehend)</p>
  <p>Veranstaltungsort:  Eimsbüttel</p></td>
</tr>
</table>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
</div>
