@import url(http://fonts.googleapis.com/css?family=Signika+Negative:300|Yellowtail);

@charset "utf-8";
/* Discofox-Hamburg.de | CSS Stylesheet by ViewStudio | www.viewstudio.de */

html {
  overflow-y: scroll;
}

body {
  font-family: 'Signika Negative', sans-serif;
  font-weight:normal;
  font-style:normal;
  background-color:#f7f7f7;
  line-height: 22px;
  font-size: 14px;
  color: #000000;
  min-width: 600px;
}

body, div, h1, h2, h3, h4, h5, h6, p, ul, img {
  margin:0px;
  padding:0px;
}

a {outline: none;}

div#topline {
  height: 6px;
  background-color: #810000;
}

div#wrapper {
  width: 100%;
  overflow: hidden;
}

div#main {
  width: 800px;
  padding: 15px 0;
  margin: 0 auto;
}

div#logo {
  background-image: url(../pics/logo3.gif);
  background-repeat: no-repeat;
  background-position: right bottom;
  height: 60px;
  width: 800px;
  padding-top: 60px;
  margin: 0 auto;
}

div#headerPics {
  width: 800px;
  height: 266px;
  /*float: right;*/
  -moz-box-shadow: 0px 2px 5px #666;
  -khtml-box-shadow: 0px 2px 5px #666;
  -webkit-box-shadow: 0px 2px 5px #666;
}

div#title {
  width: 800px;
  height: 43px;
  margin-bottom: 1.5em;
  background-color: #e5e5e5;
  background-image: url(../pics/title_back.jpg);
  background-repeat: x-repeat;
  background-position: right;
}

div#title p {
  font-family: 'Yellowtail', cursive;
  font-weight: normal;
  font-size: 24px;
  color: #a12923;
  padding: 10px 12px;
}

div#content {
  margin: 0 auto;
  margin-bottom: 5em;
  padding-bottom: 0.5em;
  width: 800px;
  background-color:#FFF;
  -moz-box-shadow: 0px 5px 5px #666;
  -khtml-box-shadow: 0px 5px 5px #666;
  -webkit-box-shadow: 0px 5px 5px #666;
}


#title img {padding-left: 6px;}

table {
  border: 1px solid #CCCCCC;
}

a {
  color:#a12923;
  text-decoration:underline;
  outline: none;
}

a:hover {
  color:#a12923;
  text-decoration:none;
}

.style2 {color: #a12923}

.style3 {
  color: #000000;
  font-size: 12px;
}

#table2 img {
  border: 3px solid #EEE;
}

table ul li {
  list-style-position:inside;
}

/* Contact Form*/

input, textarea {
  padding: 8px;
  border: solid 1px #E5E5E5;
  outline: 0;
  font: normal 13px/100% 'Signika Negative', sans-serif;
  width: 200px;
  background: #FFFFFF url('bg_form.png') left top repeat-x;
  background: -webkit-gradient(linear, left top, left 25, from(#FFFFFF), color-stop(4%, #EEEEEE), to(#FFFFFF));
  background: -moz-linear-gradient(top, #FFFFFF, #EEEEEE 1px, #FFFFFF 25px);
  box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;
  -moz-box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;
  -webkit-box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;
}

textarea {
  width: 490px;
  max-width: 400px;
  height: 150px;
  line-height: 150%;
}

input:hover, textarea:hover,
input:focus, textarea:focus {
  border-color: #C9C9C9;
  -webkit-box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 8px;
}

.form label {
  margin-left: 10px;
  color: #999999;
}

.submit input {
  width: auto;
  padding: 9px 15px;
  background: #617798;
  border: 0;
  font-size: 14px;
  color: #FFFFFF;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}

option {
  width: 500px;
}

select {
  color: #666666;
  font-size: 13px;
  border: 1px solid #D5D5D5;
  background-color:#F8F8F8;
}

.clear {
  clear: both;
}



div#footer {
  width: 100%;
  height: 50px;
  font-size: 12px;
  background: rgba(50,50,50,0.9);
  left: 0px;
  bottom: 0px;
  position: fixed;
}
#footerContent div.left     { padding-left: 10px; float: left; }
#footerContent div.center   { width: 100; text-align: center; }
#footerContent div.right    { padding-right: 10px; float: right; }
#footerContent>div          { padding: 10px; line-height: 30px; height: 30px; }
div#footerContent           { height: 30px; margin: 0 auto; color:#CCCCCC; }
#footer a                   { color:#CCC; }
#footer a:hover             { color: #FFF; }

table.data, table.content {
  margin: 0 5px;
  margin-bottom: 1.5em;
  width: 790px;
}

table.data td, table.content td {
  padding: 9px;
}

table.data tr td:first-child {
  width: 140px;
  vertical-align: top;
}
table.data.time tr td:first-child, table.data.time tr td:nth-child(2) {
  width: 170px;
}






@media (max-width: 1100px) {
  div#footerContent {
    width: 800px;
  }

  #navi {
    width: 100%;
  }

  #navi>ul {
    width: 560px;
    margin: 0 auto;
    text-align: center;
    float: inherit;
    padding: 3em 0 5em 0;
  }
}

@media (min-width: 1100px) {
  #navi {
    position: fixed;
    top: 142px;
    left: 50%;
  }

  #navi>ul {
    margin-left: -550px;
  }
}

@media (max-width: 800px) {
  table.data {
    width: 100%;
    margin: 5px 0;
    padding: 1em;
  }

  div#title, div#content {
    width: 100%;
  }

  div#logo {
    width: 100%;
    background-position: center center;
  }

  #navi>ul {
    padding-top: .5em;
  }
}