<div id="title">
  <p>News
  </p>
</div>
<p>&nbsp;
</p>
<table width="790" border="0" align="center" cellpadding="5" cellspacing="6">
  <tr>
    <td width="100">&nbsp;
    </td>
    <td>
      <p class="style2">
        <strong>Herzlich Willkommen bei Discofox-Hamburg.de
        </strong>
      </p>
    </td>

  </tr>
  <tr>
    <td>&nbsp;
    </td>
    <td valign="top">
      <p>Unsere Tanzschule hat sich auf die Tänze <strong>
        <a href="discofox.html">Discofox
        </a>
      </strong> und <strong>
      <a href="westcoastswing.html">West Coast Swing
      </a>
    </strong> spezialisiert. Wir bieten abgeschlossene Tanzkurse für Anfänger und Fortgeschrittene an. Für diejenigen, die länger tanzen wollen, gibt es einen attraktiven Clubbeitrag.
  </p>
  <p>&nbsp;
  </p>
  <p> <strong>Haben wir Ihr Interesse geweckt?
  </strong>
</p>
<p>
  Für weitere Fragen, melden Sie sich gerne Montags bis Samstags von 16.00 bis 18.00 Uhr bei:
</p>
<p>&nbsp;</p>
<p>
  <strong>Martina Hayward</strong> unter <strong class="style2">0176 / 81 81 42 20</strong> oder senden Sie eine E-Mail an: <a href="mailto:martina.hayward@web.de"><strong>martina.hayward@web.de</strong></a>
</p>
<p>&nbsp;</p>
<p>
  Alternativ können Sie auch unser Online-Formular unter <a href="kontakt.html"><strong>Anmeldung</strong></a> nutzen.
</p>
</td>

</tr>

</table>
<p>&nbsp;
</p>
<table width="790" border="0" align="center" cellpadding="5" cellspacing="6">
  <tr>
    <td width="100">
      <strong class="style2">Neu!
      </strong>
    </td>
    <td>
      <p>
        <strong>Lady / Men Styling
        </strong>
      </p>
    </td>

  </tr>
  <tr>
    <td>&nbsp;
    </td>
    <td valign="top">
      <p>Neu im Programm ist unser Lady / Men Styling. Drehungen, Armbewegungen, Isolationen, Grundschrittvariationen. Das alles übt man am besten erst einmal allein.
      </p>
      <p>
        <strong>
          <a href="styling.html">&gt; Zu den Terminen
          </a>
        </strong>
      </p>
    </td>

  </tr>

</table>
<p>&nbsp;
</p>
<table width="790" border="0" align="center" cellpadding="5" cellspacing="6">
  <tr>
    <td width="100">
      <span class="style2">
        <strong>Discofox
        </strong>
      </span>
    </td>
    <td>
      <strong>Neue Termine für Einsteiger-Workshops
      </strong>
    </td>

  </tr>
  <tr>
    <td>&nbsp;
    </td>
    <td valign="top">
      <p>Hier lernst du den Grundschritt und einfache Schrittkombinationen mit der dazugehörigen Technik.
      </p>
      <p>Jeweils in der Zeit von 11.00 bis 14.00 Uhr.
        Keine Angst, so schwer ist das gar nicht.
      </p>
      <p>
        <br />
        <strong>Termine:</strong>
        <br />
        18. Januar 2014<br />
        15. Februar 2014
      </p>
      <p>15. März 2014
      </p>
      <p>&nbsp;
      </p>
      <p>
        <strong>7. Dezember 2013</strong>
      </p>
      <p>
        <strong>Workshop Special für Clubmitglieder:</strong>
        <br />
        Stephan Guttenberger, einer der erfolgreichsten Discofox
        Tänzer überhaupt, zeigt unseren Turnierpaaren, wie sie noch besser werden können.
      </p>
    </td>
  </tr>
</table>
<p>&nbsp;</p>
<table width="790" border="0" align="center" cellpadding="5" cellspacing="6">
  <tr>
    <td width="100">
      <span class="style2">
        <strong>West Coast Swing</strong>
      </span>
    </td>
    <td valign="top">
      <p>
        <strong>Neue Termine für Einsteiger-Workshops</strong>
      </p>
    </td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td>
      <p>Hier lernst du den Grundschritt und einfache Schrittkombinationen mit der dazugehörigen Technik. Dieser Workshop ist auch für Paare geeignet, die Sicherheit gewinnen wollen. Jeweils in der Zeit von 11.00 bis 14.00 Uhr.</p>
      <p>
        <br />
        <strong>Termine:</strong>
        <br />
        18. Januar 2014<br />
        15. Februar 2014<br />
        15. März 2014
      </p>
      <p>&nbsp;</p>
      <p>
        <strong>Monatliche Workshops für Fortgeschrittene:</strong>
      </p>
      <p>Immer Montags von 21.00 bis 22.30 Uhr</p>
    </td>

  </tr>
  <tr>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td rowspan="2" valign="top">
      <p>
        <strong class="style2">02.12.2013 &amp;</strong>
      </p>
      <p class="style2">
        <strong>11.01.2014</strong>
      </p>
      <p class="style3">11.00-14.00 Uhr</p>
    </td>
    <td>
      <strong>&ldquo;After Workshop&rdquo; Catriona Wiles und Paul Wardon</strong>
    </td>

  </tr>
  <tr>
    <td>
      <p>Die Inhalte des Intensiv Workshops im August 2013 werden wiederholt und vertieft.</p>
      <p>Workshopteilnehmer zahlen 15 € pro Person. Wer nicht dabei war, zahlt 35 € pro Person.</p>
    </td>

  </tr>
  <tr>
    <td rowspan="2" valign="top">
      <p>
        <strong class="style2">16.12.2013 &amp;</strong>
      </p>
      <p class="style2">
        <strong>08.02.2014</strong>
      </p>
      <p>
        <span class="style3">11.00-14.00 Uhr</span>
      </p>
    </td>
    <td>
      <strong>&bdquo;After Workshop&ldquo; Chuck Brown</strong>
    </td>

  </tr>
  <tr>
    <td>
      <p>
        Die Inhalte des Workshops werden wiederholt. Dies geschieht besonders im Hinblick auf <strong>Technik</strong>.
      </p>
    </td>

  </tr>
  <tr>
    <td>
      <strong class="style2">21.12.2013</strong>
    </td>
    <td>
      <strong>West Coast Swing Intensiv</strong>
    </td>

  </tr>
  <tr>
    <td>&nbsp;</td>
    <td>
      <p>West Coast Swing Intensiv mit &bdquo;The Man&ldquo; Douglas aus den USA, in der Zeit von 11.00 bis 15.00 Uhr im &bdquo;Tango Chocolate&ldquo;.
      </p>
      <p class="style2">
        <strong>SOLD OUT
        </strong>
      </p>
    </td>

  </tr>
  <tr>
    <td>&nbsp;</td>
    <td>&nbsp;</td>

  </tr>

</table>
<p>&nbsp;</p>
<p>&nbsp;</p>
