
<div id="content">
<div id="title">
  <p>Lady / Men Styling</p></div>
<p>&nbsp;</p>
<table width="790" border="0" align="center" cellpadding="5" cellspacing="6">

<tr>
<td><p><strong>Neu im  Programm ist unser Lady / Men Styling.</strong></p>
  <p>Drehungen, Armbewegungen, Isolationen,  Grundschrittvariationen. Das alles übt man am besten erst einmal allein. </p>
  <p>In diesem Kurs haben Sie dazu die Möglichkeit.</p>
<p>&nbsp;</p>
<p>Zur Anmeldung und für weitere Informationen zum jeweiligen Veranstaltungsort, melden Sie sich bitte bei:</p>
<p><strong>Martina Hayward </strong>per<strong> <a href="mailto:martina.hayward@web.de">E-Mail</a></strong>, unter <strong class="style2">0176 / 81 81 42 20</strong> oder, zunächst unverbindlich, über das <a href="kontakt.html"><strong>Anmeldeformular</strong></a> an. Sie erhalten dann alle Informationen zum jeweiligen Kurs.</p></td>
</tr>

<tr>
<td></td>
</tr>
</table>


<p>&nbsp;</p>
<table width="790" border="0" align="center" cellpadding="5" cellspacing="6">
<tr>
  <td width="170" valign="top"><p class="style2"><strong>Lady / Menstyling:</strong></p></td>
  <td width="170" valign="top"><strong>Mittwochs:</strong></td>
  <td><p>21.00 - 22.00  Uhr (durchgehend)</p>
Veranstaltungsort: Wandsbek</td>
</tr>
</table>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
</div>

